{% extends 'base.html' %}

{% block title %}Task {{ task.id }}{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Задача: {{ task.description }}</h5>
        <p class="card-text">Статус: {{ task.get_status_display }}</p>
        {% if task.date_to_complete %}
            <p class="card-text">Дата завершения: {{ task.date_to_complete }}</p>
        {% else %}
            <p class="card-text">Без срока</p>
        {% endif %}
        {% if task.detailed_description %}
            <p class="card-text">Детальное описание: {{ task.detailed_description }}</p>
        {% else %}
            <p class="card-text">Без описания</p>
        {% endif %}
        <a href="{% url 'task_update' pk=task.id %}" class="btn btn-outline-primary btn-sm">Изменить задачу</a>
        <a href="{% url 'task_delete' pk=task.id %}" class="btn btn-outline-primary btn-sm">Удалить задачу</a>
      </div>
</div>
{% endblock %}