<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
    <h1>Task List</h1>
    {% for task in tasks %}
            <div style="border: 1px solid #ccc; border-radius: 7px; margin: 10px 0; padding: 10px;">
                <strong>{{ task.description }}</strong><br>
                <small>
                    Статус: <strong>{{ task.get_status_display }}</strong>
                    {% if task.date_to_complete %}
                        До: <strong>{{ task.date_to_complete }}</strong>
                    {% else %}
                        <em>Без срока</em>
                    {% endif %}
                <a href="{% url 'task_detail' pk=task.id %}">Подробнее...</a>
                </small>
            </div>
        {% endfor %}
    <button><a href="{% url 'task_create' %}" style="text-decoration: none; color: black">Добавить задачу</a></button>
</body>
</html>